<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyProgressView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2067DF361D3734DB00EF1050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2067DF4F1D3734DB00EF1050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2067DF5A1D3734DB00EF1050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
